.products {
  margin-bottom: 20px;
  padding: 10px 0px;

  h3 {
    font-size: 18px;
  }

  &__production {
    padding: 0px 15px;
  }

  &__img {
    background: url("./pictures/craft-bg.png");
    width: 100%;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__title,
  &__subtitle {
    color: #777b8e;
  }


  &__intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__about {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    span {
      text-transform: uppercase;
      font-weight: bold;
    }

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &__coasters {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.coasters {
  &__info {
    margin-bottom: 30px;

    span {
      text-transform: uppercase;
      font-weight: bold;
    }

    &-item {
      list-style: disc;
      margin-left: 10px;
      font-size: 14px;
    }

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &__list {
    font-size: 14px;
  }

  &__block {
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    margin-bottom: 20px;

    &--light {
      background-color: #fff;
    }
  }

  &__img {
    width: 255px;
    height: 255px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    position: relative;
    margin-bottom: 30px;
  }

  &__pic {
    width: 80%;
    height: 80%;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;

    &-img {
      width: 35px;
      height: 35px;
      min-width: 35px;
      margin-right: 12px;

      &--big {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.coasters__img:before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: #f6f6f6;
  border: 1px solid red;
  border-radius: 50%;
  bottom: -3%;
  z-index: 5;
}

.coasters__img:after {
  content: "";
  z-index: 0;
  position: absolute;
  display: block;
  height: 30px;
  width: 1px;
  border-left: 1px dashed red;
  bottom: -12%;
}

.coasters__item-icon {
  width: 35px;
  height: 35px;
  fill: transparent;
  stroke: red;
  fill-rule: nonzero;
  transition: 0.3s;

  &--big {
    width: 40px;
    height: 40px;
  }
}