
.sales-decoration, .polystands, .container {
  flex-direction: column;

}

.sales-decoration {

  &__img {
  background: url("./pictures/salesdecor.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 167px;
  width: 100%;
  margin-bottom: 10px;

  }

  &__title {
    color: #777b8e;
    font-size: 16px;
    font-weight: 700;
    margin: 15px 0;
  }

  &__text {
    color: #4e4e4e;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.67px;
    text-align: justify;
    margin-bottom: 20px;
  }

}

.ts-metall, .ts-mdf, .ts-display, .ts-other {
  flex-direction: column;

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  &__title {
    color: #4e4e4e;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
  }


  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #d4d7da;
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 100%;
    height: 350px;
    background-color: #f6f6f6;
    padding: 30px 25px;

    &:last-child, &:nth-child(2n) {
      display: none;
    }
  
  }

  &__pic {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }

  &__container {
    flex-direction: column;
  }

  &__subtitle {
    color: #777b8e;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 20px;
    position: relative;
   
    &::after {
      content: "";
      display: flex;
      width: 5px;
      height: 35px;
      background-color: #f6444a;
      position: absolute;
      bottom: 15px;
      left: 0;

    }
  }

  &__text {
    text-align: justify;
    color: #4e4e4e;
    font-size: 12px;
    font-weight: 400;
  }

}

.ts-metall {
  &__desc {
    margin-top: 0;
  }

  &__image {
    background-image: url("./pictures/ts1.png");
  }
}


.ts-mdf {  
  &__image {
    background-image: url("./pictures/ts2.png");
  }
}

.ts-display {
  &__image {
    background-image: url("./pictures/ts3.png");
  }
}

.ts-other {
  &__image {
    background-image: url("./pictures/ts4.png");
  }
}

.polystands {

  &__title {
    color: #777b8e;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0 10px;
  }

  &__text {
    color: #4e4e4e;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: justify;
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 100%;
    height: 330px;
    background-color: #f6f6f6;
    padding: 30px 25px;

    &:nth-child(1n) {
      display: none;
    }

    &:first-child {
      display: flex;
    }
  }
}
  
  
.dispenser {
  overflow: hidden;

  &__container {
    justify-content: space-between;
  }

  &__title {
    color: #777b8e;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0 0;
  }

  &__text {
    color: #4e4e4e;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
  }

  &__subtitle {
    color: #777b8e;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

  &__image {
    background-image: url("./pictures/dispenser.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 217px;
    width: 227px;
    margin: 25px;
    align-self: center;
    position: relative;
  

    &::after {
      content: "";
      display: flex;
      position: absolute;
      width: 280px;
      height: 280px;
      border: 2px solid #fd3b3e;
      border-radius: 50%;
      top: -20%;
      left: -10%;
  
    }
  
  }

  &__desc {
    width: 85%;
  }

  &__list {
    display: flex;
    flex-direction: column;

  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__img {
    margin: 15px;
  }

  &__pic {
    width: 30px;
    height: 30px;
    fill: transparent;
    stroke: #e55358;
    stroke-width: 3px;
    transition: 1s;

  }
}

.dividers {

  flex-direction: column;
  background-color: #f6f6f6;
  justify-content: space-between;

  &__title {
    color: #777b8e;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0;
  }

  &__text {
    color: #4e4e4e;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: justify;
  }

  &__img {
    background-image: url("./pictures/dividers1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 160px;
    width: 100%;
    margin: 25px;
    align-self: center;
    position: relative;

    &::after {
      content: "";
      display: flex;
      position: absolute;
      background-image: url("./pictures/dividers2.png");
      background-size: contain;
      width: 220px;
      height: 220px;
      top: -10%;
      left: -3%;

    }

  }

}

.priceholders {

  justify-content: center;
  background-color: #eceef3;


  &__container {
    width: 100%;
    background-color: white;
  }

  &__image {
    background-image: url("./pictures/price_hold1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 100%;

  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 150px;
    height: 150px;
    border: 2px solid #c3242a;
    border-radius: 50%;
    overflow: hidden;
  }

  &__pic {
    width: 100%;
    height: 100%;
  }

  &__title {
    color: #777b8e;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0;
  }

  &__subtitle {
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
  }

}

.wobble {
  flex-direction: column;
  background-color: #eceef3;

  &__title {
    background-color: white;
    color: #777b8e;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0 0;
  }

  &__title-wrap {
    background-color: white;
    width: 100%;
  }

  &__text {
    color: #4e4e4e;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: justify;
  }

}

.mobile {
  flex-direction: column;
  align-items: center;
  
  &__title {
    background-color: white;
    color: #777b8e;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    position: relative;

    &::after {
      content: "";
      display: flex;
      width: 5px;
      height: 20px;
      background-color: #f6444a;
      position: absolute;
      top: 8px;
      right: -10px;

    }
  }

  &__subtitle {
    font-size: 12px;
    font-weight: 400;
    color: #c52a30;
    text-transform: uppercase;
  }

  &__image {
    background-image: url("./pictures/mobile.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 340px;
    width: 230px;

  }
  
  &__text {
    color: #4e4e4e;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: justify;
  }
}

.drives {
  background-color: #eceef3;

  &__title {
    background-color: white;
    color: #777b8e;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
  }

  &__pic {
    width: 100%;
    height: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    width: 100px;
    height: 100px;
    border: 1px solid #c3242a;
    border-radius: 50%;
    overflow: hidden;
  }
  
  &__text {
    color: #4e4e4e;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: justify;
  }

}

