.advantages {
  justify-content: center;
  min-height: 100vh;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
}

.advantage__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantage__img {
  margin: 20px 0;
}


.advantage__pic {
  width: 60px;
  height: 60px;
  fill: transparent;
  stroke-width: 1px;
  stroke: #d1464d;
  fill-rule: nonzero;
  transition: 1s;

}


.advantage__title {
  color: #c52228;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0 20px;
  position: relative;

  
  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background-color: #f6f6f6;
    position: absolute;
    left: 38%;
    bottom: -70%;
  }
}

.advantage__text {
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  text-align: center;
  max-width: 210px;

}