.hamburger-menu-link {
	vertical-align: middle;
	position: relative;
	height: 22px;
	align-items: center;
	display: none;


}

.burger__pic {
	width: 30px;
	height: 30px;
	fill: transparent;
	stroke: red;
	stroke-width: 2px;
	fill-rule: nonzero;
	transition: 0.3s;
}

