.history {
  background-color: #f6f6f6;
}

.container__history {
  justify-content: space-around;
  align-items: center;
}

.history__title {
  color: #777b8e;
}

.tv__pic {
  width: 100%;
  height: 100%;
}

.tv__img {
  width: 285px;
  height: 230px;
  display: block;
}

.history__text {
  text-align: justify;
}

.history__btn {
  background-color: #c52228;
}