.news {
  min-height: 100vh;
  flex-direction: column;
  color: white;
  background-color: #eceef3;
}

.block__news {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  background-color: #3e4858;
  position: relative;

}

.title__news {
  width: 100%;
  text-align: start;
  margin-left: 10px;
}

.container__news {
  align-items: center;
  justify-content: center;
}


.news__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

}

.news__item {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 10px;
  
}

.news__img {
  width: 150px;
  min-height: 200px;
}

.news__pic {
  width: 100%;
  height: 100%;
  display: block;
}

.news__subtitle {
  width: 100%;
  padding: 0 15px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  background-color: #3e4858;

  &:hover {
    background-color: #ff0008;
  }
}