.popup {
  display: flex;
  background: url('./pictures/bg1.png') no-repeat center center;
  background-size: cover;
  background-color: #d8dee6;
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  border-right: 5px solid transparent;
  transition: .3s;
  color: white;
  background-color: #718094;

    &:hover {
    color: #fa454b;
    border-right: 5px solid #fa454b;
    }
  
}

.menu__img {
  width: 46px;
  height: 44px;
  margin: 15px 80px;
}

.menu__pic {
  width: 100%;
  height: 100%;
}

.menu__title {
  margin: 15px 0;
}

.menu__link {
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    color: inherit;
  }
}


