.advert {
  padding: 10px 0px;

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  &__img {
    width: 100%;
    min-height: 270px;
    background: url("./pictures/ads-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__list {
    font-size: 18px;
    text-align: center;
    color: #6a6a6a;
    line-height: 1.6;
  }

  &__title {
    color: #777b8e;
    margin-bottom: 5px;
  }

  &__desc {
    padding: 15px;

    p {
      margin-bottom: 10px;
    }
  }

  &__img {
    position: relative;
    margin-bottom: 60px;

    &:before {
      content: "";
      position: absolute;
      height: 11px;
      width: 11px;
      background-color: #f6f6f6;
      border: 1px solid red;
      border-radius: 50%;
      left: 50%;
      bottom: -3%;
      z-index: 5;
    }

    &:after {
      content: "";
      z-index: 0;
      position: absolute;
      display: block;
      height: 55px;
      width: 1px;
      border-left: 1px dashed red;
      left: 51%;
      top: 100%;
    }
  }

  &__nav {
    position: relative;
    padding: 10px 0px 18px 0px;

    &:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 15px;
      background-color: #f6f6f6;
      border-top: 1px solid red;
      left: 49%;
      top: -1%;
      z-index: 5;
    }
  }
}