.auto {
  padding: 15px 0px;
  background-color: #eceef3;

  &__title {
    color: #777b8e;
  }

  &__intro {
    margin-bottom: 25px;

    p {
      margin-bottom: 10px;
    }

    span {
      color: #c32126;
      text-transform: uppercase;
    }
  }
}

.container__auto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}