.light {

  h3 {
    font-size: 18px;
  }

  &__panels {
    margin-bottom: 15px;
  }
}

.panels {
  &__title {
    color: #777b8e;
  }

  &__intro {
    padding: 15px;

    span {
      color: #c32126;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 10px;
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;

    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 80%;
      top: 10%;
      background-color: #f6f6f6;
    }
  }

  &__img {
    z-index: 5;
  }

  &__examples {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &-bg {
      width: 100%;
      max-width: 30rem;
    }

  }
}

.letters {
  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  &__subtitle {
    color: #777b8e;
    text-transform: uppercase;
    padding: 0px 5px;
    border-left: 1px solid red;
  }

  &__img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    width: 100%;

    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 80%;
      top: 10%;
      background-color: #eceef3;
    }
  }

  &__bg {
    z-index: 5;
  }

  &__desc {
    padding: 15px;

    span {
      text-transform: uppercase;
      color: #c32126;
    }
  }
}