.roof {
  margin-bottom: 10px;

  &__intro {
    background-image: url("./pictures/roof-bg.png");
    min-height: 270px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
  }

  &__title {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    max-width: 155px;
  }

  &__desc {
    padding: 15px;
    background-color: #eceef3;

    span {
      color: #c32126;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 10px;
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  &__page {
    margin-bottom: 7px;
  }

  &__page,
  &__list,
  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__bg {
    width: 100%;
    max-width: 480px;
  }
}