.signboards {
  margin-bottom: 10px;

  &__title {
    color: #777b8e;
  }

  &__img {
    width: 100%;
    min-height: 270px;
    background: url("./pictures/panel-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__desc {
    background-color: #edeef3;
    padding: 13px;

    p {
      margin-bottom: 10px;
    }

    span {
      color: #c32126;
      text-transform: uppercase;
    }
  }

  &__examples,
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  &__list {
    padding: 10px 0px;
  }

  &__examples {


    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      width: 60%;
      height: 100%;
      left: 20%;
      background-color: #f6f6f6;
    }

  }

  &__item {
    margin-bottom: 15px;
  }
}