.stele {
  padding: 20px 0px;

  &__title {
    color: #777b8e;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
  }

  &__desc {
    span {
      color: #c32126;
      text-transform: uppercase;
    }
  }
}