@import './fonts/fonts.scss';


@import './base/mixins', './base/variables', './base/layout';
@import './base/btns.scss';
@import './blocks/footer.scss';
@import './blocks/splash.scss';
@import './blocks/popup.scss';
@import './blocks/advantages.scss';
@import './blocks/main-menu.scss';
@import './blocks/socials.scss';
@import './blocks/hamburger-menu.scss';
@import './blocks/news.scss';
@import './blocks/history.scss';
@import './blocks/technology.scss';
@import './blocks/serv-prod.scss';
@import './blocks/portfo.scss';
@import './blocks/title.scss';
@import './blocks/arrow.scss';
@import './blocks/ordered.scss';
@import './blocks/expo.scss';

@import './about/about.scss';
@import './about/process.scss';
@import './about/geo.scss';
@import './about/career.scss';
@import './about/vacancies.scss';
@import './posma/posma.scss';
@import './sales-decoration/sales-decoration.scss';
@import './products/products.scss';
@import './products/catalog.scss';
@import './products/organizers.scss';

@import './stands/pos.scss';
@import './stands/exhibition.scss';
@import './stands/reception.scss';

@import './ads/ads.scss';
@import './ads/roof.scss';
@import './ads/signboards.scss';
@import './ads/light.scss';
@import './ads/neon.scss';
@import './ads/stele.scss';
@import './ads/auto.scss';

@import './design/design.scss';

@import './print/print.scss';
@import './print/silk.scss';
@import './print/embossing.scss';
@import './print/embroidery.scss';
@import './print/engraving.scss';
@import './print/thermo.scss';

@import './souvenirs/souvenirs.scss';

@import './blocks/map.scss';