.thermo {
  padding: 10px 0px;

  &__title {
    color: #FFF;
    text-shadow: 0px 2px 2px rgba(0, 2, 4, 0.75);
  }

  &__intro {
    background: url("../../pictures/thermo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    min-height: 230px;
    width: 100%;
    padding: 20px;
  }

  &__desc {
    background-color: #eceef3;
    padding: 10px 0px;

    span {
      text-transform: uppercase;
      color: #c3242a;
    }

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}