.career {
  padding: 10px 0px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__info {
    p {
      color: #6c6c6c;
    }

    a {
      display: inline-block;
      color: #d1454d;
    }
  }


  &__title {
    color: #777b8e;
    margin-bottom: 9px;
  }
}