.reception {
  padding: 0.625rem 0rem;

  &__title {
    color: #777b8e;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
  }

  &__img {
    width: 100%;
    min-height: 175px;
    background: linear-gradient(90deg, rgba(81, 97, 120, 0.5) 0%, rgba(81, 97, 120, 0.5) 100%), url("../../pictures/reception-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__desc {
    padding: 15px;

    span {
      color: #c32126;
      text-transform: uppercase;
    }

    p,
    .reception__list {
      margin-bottom: 10px;
    }
  }

  &__item {
    font-size: 14px;
  }

}