.vacancy-btn {
  background-color: #fff;
  border: 1px solid transparent;
  border-right: 1px solid #eceef3;
  padding: 10px 20px;
  text-align: center;
  min-height: 65px;

  &--active {
    background-color: #eceef3;
    border-top: 4px solid #d1454d;
    color: #d1454d;
  }
}

.arrow-btn {
  background-color: #fff;
  border: 1px solid transparent;
  padding: 5px 5px;
  text-align: center;
  color: #d1454d;
  height: 30px;
  width: 50px;

  &__icon {
    width: 34px;
    height: 64px;
    fill: transparent;
    stroke: red;
    fill-rule: nonzero;
  }

}

.btn {
  padding: 20px 40px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.12px;
  color: #ffffff;

}