html {
  font-size: 16px;

  @include tablets {
    font-size: 14px;
  }

  @include phones {
    font-size: 13px;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.42;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  /*max-width: 940px + 20px; */
  //min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maincontent {
  flex: 1;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  position: relative;
  //transform: translateY();

 border: 1px solid blue;
}


* {
  box-sizing: border-box;
}

ul,
picture,
p {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: inherit;
}

.section {

  height: 100%;
  display: flex;
  height: 100vh;
  min-height: 650px;
  position: relative;
  width: 100%;
  border: 1px solid red;
  
  @include phones {
    min-height: initial;
  }
}

.container {
  /*  max-width: 940px; */
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  //border: 1px solid green;

  @include phones {
   height: initial;
 }


}

* {
  box-sizing: border-box;
}


.title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  color: inherit;
}

p {
  color: inherit;
}