$colorBlue: #61c4d9;
$colorWhite: #fff;
$colorBlack: #000;
$colorGreen: #0f5a47;
$colorGray: #666666;
$colorGrayLight:#f2f5f4;
$colorGrayDark: #323232;
$colorBlack2: #0d0d0d;


$tablets: 768px;
$phones: 480px;

